#Crew AI

crewai
litellm #this is used when you are using the open source model

#Hugging Face Integration

langchain-huggingface
transformers
huggingface-hub

#langchain

langchain
langchain-core

#Environment Varialbe Management

python-dotenv

#Provide styles for the loading model or any time consuming work
yaspin

#deeplearning framework
torch
